<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjdddd.sojbackend.mapper.ProblemSetMapper">
    <resultMap id="BaseResultMap" type="com.sjdddd.sojbackend.model.entity.ProblemSet">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="isPublic" property="isPublic" />
        <result column="isOfficial" property="isOfficial" />
        <result column="userId" property="userId" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="isDelete" property="isDelete" />
    </resultMap>
</mapper> 