<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjdddd.sojbackend.mapper.UserSysNoticeMapper">

    <resultMap id="BaseResultMap" type="com.sjdddd.sojbackend.model.entity.UserSysNotice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="noticeId" column="noticeId" jdbcType="BIGINT"/>
            <result property="recipientId" column="recipientId" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,noticeId,recipientId,
        type,state,createTime,
        updateTime,isDelete
    </sql>
</mapper>
